#staff-summary-title{
    font-weight: 600;
}

#staff-point-list{
    font-size: 20px;
}

#total-point{
    font-size: 28px;
    font-weight: 700;
    color: green;
}

.bold{
    font-weight: bold;
}
