#navbar{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#sidenav{
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#content{
    margin-top: 3.5rem;
    margin-left: 4.5rem;
    height: 100%;
    width: 95%;
    padding: 24px;
}

#staff-summary-title{
    font-weight: 600;
}

#staff-point-list{
    font-size: 20px;
}

#total-point{
    font-size: 28px;
    font-weight: 700;
    color: green;
}

.bold{
    font-weight: bold;
}
